In [5]:
import pandas as pd
import numpy as np

In [6]:
file_list = pd.read_csv('../files.csv')

In [14]:
variables = pd.read_csv('../variables.csv')

In [24]:
years = file_list.Year.unique()
dfs = [None]*2
for i in range(len(years)):
    files = file_list[file_list.Year == years[i]]
    first = files[files.Notes=="read in first"]
    first_path = list(first["Path"])[0]
    first_type = list(first["Dataset_Description"])[0]
    first_variables = list(variables[variables.Dataset_Description==first_type]["Variable_Name"])
    df = pd.read_sas(first_path)
    df = df[first_variables].copy()
    others = files[files.Notes!="read in first"]
    for other_path in others["Path"]:
        other_type = list(others[others["Path"]==other_path]["Dataset_Description"])[0]
        temp_df = pd.read_sas(other_path)
        other_variables = ["SEQN"] + list(variables[variables.Dataset_Description==other_type]["Variable_Name"])
        temp_df = temp_df[other_variables].copy()
        df = df.merge(temp_df, on="SEQN", how="left")
    df.drop("SEQN", axis=1, inplace=True)
    dfs[i] = df.copy()
df = pd.concat(dfs,ignore_index=True)
df.head()

,LBXTC,PHAFSTHR,RIAGENDR,RIDRETH3,RIDAGEYR,BMXWT,BMXHT,BMXBMI,BPXSY1,BPXSY2,...,PAQ620,PAQ625,PAD630,PAQ650,PAQ655,PAD660,PAQ665,PAQ670,PAD675,KIQ022
0,173.0,3.0,1.0,3.0,62.0,94.8,184.5,27.8,128.0,124.0,...,1.0,5.0,10.0,2.0,NaN,NaN,1.0,6.0,30.0,NaN
1,265.0,12.0,1.0,3.0,53.0,90.4,171.4,30.8,146.0,140.0,...,2.0,NaN,NaN,2.0,NaN,NaN,2.0,NaN,NaN,NaN
2,229.0,10.0,1.0,3.0,78.0,83.4,170.1,28.8,138.0,132.0,...,1.0,4.0,240.0,2.0,NaN,NaN,2.0,NaN,NaN,NaN
3,174.0,2.0,2.0,3.0,56.0,109.8,160.9,42.4,132.0,134.0,...,1.0,5.0,90.0,2.0,NaN,NaN,2.0,NaN,NaN,NaN
4,204.0,10.0,2.0,4.0,42.0,55.2,164.9,20.3,100.0,114.0,...,1.0,7.0,480.0,2.0,NaN,NaN,2.0,NaN,NaN,NaN

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16312 entries, 0 to 16311
Data columns (total 61 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   LBXTC     14880 non-null  float64
 1   PHAFSTHR  15986 non-null  float64
 2   RIAGENDR  16312 non-null  float64
 3   RIDRETH3  16312 non-null  float64
 4   RIDAGEYR  16312 non-null  float64
 5   BMXWT     16149 non-null  float64
 6   BMXHT     16150 non-null  float64
 7   BMXBMI    16129 non-null  float64
 8   BPXSY1    14317 non-null  float64
 9   BPXSY2    14722 non-null  float64
 10  BPXSY3    14684 non-null  float64
 11  BPXSY4    839 non-null    float64
 12  BPXDI1    14317 non-null  float64
 13  BPXDI2    14722 non-null  float64
 14  BPXDI3    14684 non-null  float64
 15  BPXDI4    839 non-null    float64
 16  BPXPLS    14925 non-null  float64
 17  BPXPULS   15822 non-null  float64
 18  DR1TKCAL  14643 non-null  float64
 19  DR1TPROT  14643 non-null  float64
 20  DR1TCARB  14643 non-null  float64
 21  DR1TSUGR  14643 non-null  float64
 22  DR1TFIBE  14643 non-null  float64
 23  DR1TTFAT  14643 non-null  float64
 24  DR1TSFAT  14643 non-null  float64
 25  DR1TMFAT  14643 non-null  float64
 26  DR1TPFAT  14643 non-null  float64
 27  DR1TCHOL  14643 non-null  float64
 28  DR1TSODI  14643 non-null  float64
 29  DR1TVD    14643 non-null  float64
 30  DR1TCALC  14643 non-null  float64
 31  DR1TIRON  14643 non-null  float64
 32  DR1TPOTA  14643 non-null  float64
 33  DR1_300   14759 non-null  float64
 34  ALQ110    3362 non-null   float64
 35  ALQ120Q   8703 non-null   float64
 36  ALQ120U   6969 non-null   float64
 37  ALQ130    6975 non-null   float64
 38  BPQ020    12329 non-null  float64
 39  BPQ040A   4130 non-null   float64
 40  BPQ050A   3549 non-null   float64
 41  BPQ080    12329 non-null  float64
 42  BPQ090D   8936 non-null   float64
 43  BPQ100D   2872 non-null   float64
 44  DIQ010    16312 non-null  float64
 45  MCQ160M   11062 non-null  float64
 46  MCQ170M   1178 non-null   float64
 47  SMQ681    12590 non-null  float64
 48  PAQ605    13652 non-null  float64
 49  PAQ610    2458 non-null   float64
 50  PAD615    2439 non-null   float64
 51  PAQ620    13651 non-null  float64
 52  PAQ625    4762 non-null   float64
 53  PAD630    4741 non-null   float64
 54  PAQ650    13648 non-null  float64
 55  PAQ655    4112 non-null   float64
 56  PAD660    4105 non-null   float64
 57  PAQ665    13646 non-null  float64
 58  PAQ670    5844 non-null   float64
 59  PAD675    5832 non-null   float64
 60  KIQ022    5588 non-null   float64
dtypes: float64(61)
memory usage: 7.6 MB

In [26]:
df.to_csv('../Data/df.csv')